<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Langar&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Game of Thrones</title>
  </head>
  <body>
    <div class="container">
      <header>
        <a href="/">
          <img src="../images/logo.png" alt="Trône de fer" class="logo" />
        </a>
        <ul>
          <li class="menu" id="continents">Continents</li>
          <li class="menu" id="kingdoms">Royaumes</li>
          <li class="menu" id="families">Familles</li>
          <li class="menu" id="ajouter">Ajouter...</li>
        </ul>
        <div class="details details--continents">
          <!-- à dynamiser-->
          <a href="#"><div>Essos</div></a>

          <a href="#"><div>Westeros</div></a>
        </div>
        <div class="details details--kingdoms">
          <!-- à dynamiser-->
          <a href="#"><div>Bief</div></a>

          <a href="#"><div>Braavos</div></a>

          <a href="#"><div>Conflans</div></a>

          <a href="#"><div>Dorne</div></a>

          <a href="#"><div>Iles de Fer</div></a>

          <a href="#"><div>Lorath</div></a>

          <a href="#"><div>Lys</div></a>

          <a href="#"><div>Myr</div></a>

          <a href="#"><div>Nord</div></a>

          <a href="#"><div>Norvos</div></a>

          <a href="#"><div>Pentos</div></a>

          <a href="#"><div>Qohor</div></a>

          <a href="#"><div>Terres de l&#39;Orage</div></a>

          <a href="#"><div>Terres de l&#39;Ouest</div></a>

          <a href="#"><div>Terres de la Couronne</div></a>

          <a href="#"><div>Tyrosh</div></a>

          <a href="#"><div>Val d&#39;Arryn</div></a>

          <a href="#"><div>Volantis</div></a>
        </div>
        <div class="details details--families">
          <!-- à dynamiser-->
          <a href="#"><div>Maison Arryn</div></a>

          <a href="#"><div>Maison Baratheon</div></a>

          <a href="#"><div>Maison Greyjoy</div></a>

          <a href="#"><div>Maison Lannister</div></a>

          <a href="#"><div>Maison Martell</div></a>

          <a href="#"><div>Maison Stark</div></a>

          <a href="#"><div>Maison Targaryen</div></a>

          <a href="#"><div>Maison Tully</div></a>

          <a href="#"><div>Maison Tyrell</div></a>
        </div>
        <div class="details details--ajouter">
          <a href="#"><div>Un royaume</div></a>
          <a href="#"><div>Une famille</div></a>
          <a href="#"><div>Un banneret</div></a>
          <a href="#"><div>Un membre</div></a>
        </div>
      </header>
      <main>
        <div class="content">
          <p class="text">
            L 'histoire se situe dans un univers médiéval où les saisons peuvent
            durer des années. L'intrigue se passe essentiellement sur le
            continent de Westeros, dans le royaume des Sept Couronnes, un pays
            dirigé par plusieurs grandes maisons nobles dont une possède le
            pouvoir royal. Ces puissantes maisons sont les Arryn, les Baratheon,
            les Lannister, les Martell, les Stark, les Tully et les Tyrell. Il y
            a aussi la maison Greyjoy, domaine insulaire aux velléités
            d'indépendance, ainsi que les Targaryens, l'ancienne maison
            régnante. Elles ont chacune leur domaine, leurs bannerets et leur
            blason, mais ont des intérêts divergents et des querelles
            ancestrales les divisent.
          </p>
          <p class="text">
            Au début de la série, les Sept Couronnes sont dirigées par le roi
            Robert Baratheon, qui a renversé la dynastie des Targaryen quinze
            ans auparavant. Il propose à Eddard Stark, son ami et ancien
            compagnon d'armes lors de la rébellion contre les Targaryen, le
            poste de Main du roi (sorte de premier ministre), précédemment
            occupé par Jon Arryn, mentor des deux hommes, qui vient de mourir.
            Eddard accepte à contrecœur l'offre du roi et quitte ses terres
            glacées du nord pour gagner la capitale, Port-Réal. Il se heurte à
            l'inimitié de la reine, Cersei Lannister, et aux intrigues de
            différents conseillers, et découvre que les trois enfants légitimes
            de Robert ne sont en fait pas de lui. La mort de Robert, survenue
            juste après, déclenche la guerre civile, plusieurs prétendants
            revendiquant le trône tandis que certaines maisons cherchent à
            regagner leur indépendance.
          </p>
          <p class="text">
            Dans le même temps, le fils bâtard d'Eddard Stark, Jon Snow, rejoint
            la Garde de Nuit, un ordre dont la fonction est de veiller sur la
            frontière nord et seule frontière du royaume, protégée par un
            immense mur de glace et au-delà de laquelle vivent les sauvageons,
            des peuples qui se disent libres. Très vite, il déjoue une tentative
            d'assassinat contre le Lord Commandant de la Garde de Nuit,
            tentative orchestrée par des créatures appelées les Autres que l'on
            croyait légendaires, et intègre une expédition chargée d'enquêter
            au-delà du mur sur les disparitions de plusieurs membres de la Garde
            de Nuit.
          </p>
          <p class="text">
            Et, sur le continent oriental, les deux derniers survivants de la
            maison Targaryen, le très instable Viserys et sa jeune sœur
            Daenerys, tentent de restaurer la grandeur passée de leur maison.
            Viserys arrange le mariage de sa sœur avec Drogo, chef d'une
            puissante horde de cavaliers nomades appelés les Dothrakis, afin de
            reconquérir les Sept Couronnes, mais sa folie cause sa perte.
            Daenerys, désormais ultime représentante de la maison Targaryen,
            tente de survivre au milieu d'un monde hostile, aidée en cela par la
            naissance miraculeuse de trois dragons, race qui était éteinte,
            venant d'œufs fossilisés lui ayant été donnés en cadeau de mariage.
            Ces dragons attirent les convoitises mais assurent également la
            renommée de Daenerys, dont l'objectif est de reconquérir le trône de
            son père.
          </p>
        </div>
      </main>
      <script src="../js/script.js"></script>
    </div>
  </body>
</html>
