<%-include ('partials/header')%>

        <div class="content">
          <h2>Conflans</h2>
          <div class="kingdom">
            <img
              class="image"
              src="../images/cartes/conflans.jpg"
              alt="Carte de Conflans"
              class="carte"
            />
            <div class="text">
              Le Conflans, domaine de la maison Tully de Vivesaigues, est une
              région de Westeros bordée par le Neck au nord, par le Val
              d&#39;Arryn et les Terres de la Couronne à l&#39;est, et par le
              Bief et les Terres de l&#39;Ouest au sud et à l&#39;ouest.
              C&#39;est une région densément peuplée et fertile, traversée par
              de nombreux cours d&#39;eau. Les bâtards y sont nommés « Rivers ».
            </div>
          </div>
          <div class="cards">
            <a href="#">
              <div class="small">
                <h3>Maison Tully</h3>
                <div class="text--small">
                  La maison Tully est la maison suzeraine de la régi...
                </div>
              </div>
            </a>
          </div>
        </div>
    <%-include ('partials/footer')%>
